In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df1 = pd.read_csv('2015-building-energy-benchmarking.csv')

In [5]:
df1.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,Location,CouncilDistrictCode,Neighborhood,YearBuilt,...,GHGEmissionsIntensity(kgCO2e/ft2),DefaultData,Comment,ComplianceStatus,Outlier,2010 Census Tracts,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats,Zip Codes
0,1,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,659000030,"{'latitude': '47.61219025', 'longitude': '-122...",7,DOWNTOWN,1927,...,2.64,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0,18081
1,2,2015,NonResidential,Hotel,PARAMOUNT HOTEL,659000220,"{'latitude': '47.61310583', 'longitude': '-122...",7,DOWNTOWN,1996,...,2.38,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0,18081
2,3,2015,NonResidential,Hotel,WESTIN HOTEL,659000475,"{'latitude': '47.61334897', 'longitude': '-122...",7,DOWNTOWN,1969,...,1.92,Yes,NaN,Compliant,NaN,NaN,56.0,NaN,31.0,18081
3,5,2015,NonResidential,Hotel,HOTEL MAX,659000640,"{'latitude': '47.61421585', 'longitude': '-122...",7,DOWNTOWN,1926,...,31.38,No,NaN,Compliant,High Outlier,NaN,56.0,NaN,31.0,18081
4,8,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,659000970,"{'latitude': '47.6137544', 'longitude': '-122....",7,DOWNTOWN,1980,...,4.02,No,NaN,Compliant,NaN,NaN,56.0,NaN,31.0,19576

In [4]:
df1.isnull()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,Location,CouncilDistrictCode,Neighborhood,YearBuilt,...,GHGEmissionsIntensity(kgCO2e/ft2),DefaultData,Comment,ComplianceStatus,Outlier,2010 Census Tracts,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats,Zip Codes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,True,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,True,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,True,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,True,False,True,False,False
3336,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,True,False,True,False,False
3337,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,True,False,True,False,False
3338,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,True,False,True,False,False
3339,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,True,False,True,False,False

In [6]:
col = df1.columns       # .columns gives columns names in data 
print(col)

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'TaxParcelIdentificationNumber', 'Location',
       'CouncilDistrictCode', 'Neighborhood', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'OtherFuelUse(kBtu)',
       'GHGEmissions(MetricTonsCO2e)', 'GHGEmissionsIntensity(kgCO2e/ft2)',
       'DefaultData', 'Comment', 'ComplianceStatus', 'Outlier',
       '2010 Census Tracts',
       'Seattle Police Department Micro Community Policing Plan Areas',
       'City Council Districts', 'SPD Beats', 'Zip Codes'],
      dtype='object')

In [10]:
y = df1.OSEBuildingID                        
list = ['Zip Codes','OSEBuildingID']
x = df1.drop(list,axis = 1 )
x.head(100)

,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,Location,CouncilDistrictCode,Neighborhood,YearBuilt,NumberofBuildings,...,GHGEmissions(MetricTonsCO2e),GHGEmissionsIntensity(kgCO2e/ft2),DefaultData,Comment,ComplianceStatus,Outlier,2010 Census Tracts,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats
0,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,659000030,"{'latitude': '47.61219025', 'longitude': '-122...",7,DOWNTOWN,1927,1,...,249.43,2.64,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0
1,2015,NonResidential,Hotel,PARAMOUNT HOTEL,659000220,"{'latitude': '47.61310583', 'longitude': '-122...",7,DOWNTOWN,1996,1,...,263.51,2.38,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0
2,2015,NonResidential,Hotel,WESTIN HOTEL,659000475,"{'latitude': '47.61334897', 'longitude': '-122...",7,DOWNTOWN,1969,1,...,2061.48,1.92,Yes,NaN,Compliant,NaN,NaN,56.0,NaN,31.0
3,2015,NonResidential,Hotel,HOTEL MAX,659000640,"{'latitude': '47.61421585', 'longitude': '-122...",7,DOWNTOWN,1926,1,...,1936.34,31.38,No,NaN,Compliant,High Outlier,NaN,56.0,NaN,31.0
4,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,659000970,"{'latitude': '47.6137544', 'longitude': '-122....",7,DOWNTOWN,1980,1,...,507.70,4.02,No,NaN,Compliant,NaN,NaN,56.0,NaN,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015,SPS-District K-12,K-12 School,B F DAY ELEMENTARY (SPS-DISTRICT),1931301145,"{'latitude': '47.65474724', 'longitude': '-122...",6,LAKE UNION,1991,1,...,14.17,0.08,Yes,NaN,Compliant,NaN,NaN,20.0,NaN,2.0
96,2015,NonResidential,Hotel,ALEXIS HOTEL,1974600035,"{'latitude': '47.60477066', 'longitude': '-122...",7,DOWNTOWN,1904,1,...,150.23,0.68,No,NaN,Compliant,NaN,NaN,14.0,NaN,19.0
97,2015,Nonresidential COS,Other,BENAROYA HALL,1974700025,"{'latitude': '47.60810553', 'longitude': '-122...",7,DOWNTOWN,1998,1,...,338.23,1.03,No,NaN,Compliant,NaN,NaN,14.0,NaN,24.0
98,2015,NonResidential,Hospital,SWEDISH MEDICAL CENTER BALLARD CAMPUS,2767703875,"{'latitude': '47.66742706', 'longitude': '-122...",6,BALLARD,1954,1,...,1874.42,6.08,No,NaN,Compliant,NaN,NaN,4.0,NaN,1.0
99,2015,SPS-District K-12,K-12 School,WEST WOODLAND PARK ELEMENTARY (SPS-DISTRICT),2768000375,"{'latitude': '47.67031559', 'longitude': '-122...",6,BALLARD,1991,1,...,11.24,0.08,Yes,NaN,Compliant,NaN,NaN,4.0,NaN,2.0

In [11]:
y = df1.DataYear                        
list = ['YearBuilt','DataYear']
x = df1.drop(list,axis = 1 )
x.head(100)

,OSEBuildingID,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,Location,CouncilDistrictCode,Neighborhood,NumberofBuildings,NumberofFloors,...,GHGEmissionsIntensity(kgCO2e/ft2),DefaultData,Comment,ComplianceStatus,Outlier,2010 Census Tracts,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats,Zip Codes
0,1,NonResidential,Hotel,MAYFLOWER PARK HOTEL,659000030,"{'latitude': '47.61219025', 'longitude': '-122...",7,DOWNTOWN,1,12.0,...,2.64,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0,18081
1,2,NonResidential,Hotel,PARAMOUNT HOTEL,659000220,"{'latitude': '47.61310583', 'longitude': '-122...",7,DOWNTOWN,1,11.0,...,2.38,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0,18081
2,3,NonResidential,Hotel,WESTIN HOTEL,659000475,"{'latitude': '47.61334897', 'longitude': '-122...",7,DOWNTOWN,1,41.0,...,1.92,Yes,NaN,Compliant,NaN,NaN,56.0,NaN,31.0,18081
3,5,NonResidential,Hotel,HOTEL MAX,659000640,"{'latitude': '47.61421585', 'longitude': '-122...",7,DOWNTOWN,1,10.0,...,31.38,No,NaN,Compliant,High Outlier,NaN,56.0,NaN,31.0,18081
4,8,NonResidential,Hotel,WARWICK SEATTLE HOTEL,659000970,"{'latitude': '47.6137544', 'longitude': '-122....",7,DOWNTOWN,1,18.0,...,4.02,No,NaN,Compliant,NaN,NaN,56.0,NaN,31.0,19576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,140,SPS-District K-12,K-12 School,B F DAY ELEMENTARY (SPS-DISTRICT),1931301145,"{'latitude': '47.65474724', 'longitude': '-122...",6,LAKE UNION,1,3.0,...,0.08,Yes,NaN,Compliant,NaN,NaN,20.0,NaN,2.0,18377
96,144,NonResidential,Hotel,ALEXIS HOTEL,1974600035,"{'latitude': '47.60477066', 'longitude': '-122...",7,DOWNTOWN,1,5.0,...,0.68,No,NaN,Compliant,NaN,NaN,14.0,NaN,19.0,18379
97,145,Nonresidential COS,Other,BENAROYA HALL,1974700025,"{'latitude': '47.60810553', 'longitude': '-122...",7,DOWNTOWN,1,6.0,...,1.03,No,NaN,Compliant,NaN,NaN,14.0,NaN,24.0,18081
98,147,NonResidential,Hospital,SWEDISH MEDICAL CENTER BALLARD CAMPUS,2767703875,"{'latitude': '47.66742706', 'longitude': '-122...",6,BALLARD,1,5.0,...,6.08,No,NaN,Compliant,NaN,NaN,4.0,NaN,1.0,18386
99,148,SPS-District K-12,K-12 School,WEST WOODLAND PARK ELEMENTARY (SPS-DISTRICT),2768000375,"{'latitude': '47.67031559', 'longitude': '-122...",6,BALLARD,1,2.0,...,0.08,Yes,NaN,Compliant,NaN,NaN,4.0,NaN,2.0,18386

In [12]:
df2 = pd.read_csv('2016-building-energy-benchmarking.csv')

In [13]:
y = df2.OSEBuildingID                        
list = ['Zip Codes','OSEBuildingID']
x = df1.drop(list,axis = 1 )
x.head(100)

,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,Location,CouncilDistrictCode,Neighborhood,YearBuilt,NumberofBuildings,...,GHGEmissions(MetricTonsCO2e),GHGEmissionsIntensity(kgCO2e/ft2),DefaultData,Comment,ComplianceStatus,Outlier,2010 Census Tracts,Seattle Police Department Micro Community Policing Plan Areas,City Council Districts,SPD Beats
0,2015,NonResidential,Hotel,MAYFLOWER PARK HOTEL,659000030,"{'latitude': '47.61219025', 'longitude': '-122...",7,DOWNTOWN,1927,1,...,249.43,2.64,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0
1,2015,NonResidential,Hotel,PARAMOUNT HOTEL,659000220,"{'latitude': '47.61310583', 'longitude': '-122...",7,DOWNTOWN,1996,1,...,263.51,2.38,No,NaN,Compliant,NaN,NaN,14.0,NaN,31.0
2,2015,NonResidential,Hotel,WESTIN HOTEL,659000475,"{'latitude': '47.61334897', 'longitude': '-122...",7,DOWNTOWN,1969,1,...,2061.48,1.92,Yes,NaN,Compliant,NaN,NaN,56.0,NaN,31.0
3,2015,NonResidential,Hotel,HOTEL MAX,659000640,"{'latitude': '47.61421585', 'longitude': '-122...",7,DOWNTOWN,1926,1,...,1936.34,31.38,No,NaN,Compliant,High Outlier,NaN,56.0,NaN,31.0
4,2015,NonResidential,Hotel,WARWICK SEATTLE HOTEL,659000970,"{'latitude': '47.6137544', 'longitude': '-122....",7,DOWNTOWN,1980,1,...,507.70,4.02,No,NaN,Compliant,NaN,NaN,56.0,NaN,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2015,SPS-District K-12,K-12 School,B F DAY ELEMENTARY (SPS-DISTRICT),1931301145,"{'latitude': '47.65474724', 'longitude': '-122...",6,LAKE UNION,1991,1,...,14.17,0.08,Yes,NaN,Compliant,NaN,NaN,20.0,NaN,2.0
96,2015,NonResidential,Hotel,ALEXIS HOTEL,1974600035,"{'latitude': '47.60477066', 'longitude': '-122...",7,DOWNTOWN,1904,1,...,150.23,0.68,No,NaN,Compliant,NaN,NaN,14.0,NaN,19.0
97,2015,Nonresidential COS,Other,BENAROYA HALL,1974700025,"{'latitude': '47.60810553', 'longitude': '-122...",7,DOWNTOWN,1998,1,...,338.23,1.03,No,NaN,Compliant,NaN,NaN,14.0,NaN,24.0
98,2015,NonResidential,Hospital,SWEDISH MEDICAL CENTER BALLARD CAMPUS,2767703875,"{'latitude': '47.66742706', 'longitude': '-122...",6,BALLARD,1954,1,...,1874.42,6.08,No,NaN,Compliant,NaN,NaN,4.0,NaN,1.0
99,2015,SPS-District K-12,K-12 School,WEST WOODLAND PARK ELEMENTARY (SPS-DISTRICT),2768000375,"{'latitude': '47.67031559', 'longitude': '-122...",6,BALLARD,1991,1,...,11.24,0.08,Yes,NaN,Compliant,NaN,NaN,4.0,NaN,2.0

In [10]:
df2 = pd.read_csv('2016-building-energy-benchmarking.csv')

In [11]:
df1.columns

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'TaxParcelIdentificationNumber', 'Location',
       'CouncilDistrictCode', 'Neighborhood', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'OtherFuelUse(kBtu)',
       'GHGEmissions(MetricTonsCO2e)', 'GHGEmissionsIntensity(kgCO2e/ft2)',
       'DefaultData', 'Comment', 'ComplianceStatus', 'Outlier',
       '2010 Census Tracts',
       'Seattle Police Department Micro Community Policing Plan Areas',
       'City Council Districts', 'SPD Beats', 'Zip Codes'],
      dtype='object')

In [12]:
df2.columns

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'Address', 'City', 'State', 'ZipCode',
       'TaxParcelIdentificationNumber', 'CouncilDistrictCode', 'Neighborhood',
       'Latitude', 'Longitude', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'DefaultData', 'Comments', 'ComplianceStatus',
       'Outlier', 'TotalGHGEmissions', 'GHGEmissionsIntensity'],
      dtype='object')

In [14]:
pd.concat([df1, df2]).loc[df1.index.symmetric_difference(df2.index)]

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,TaxParcelIdentificationNumber,Location,CouncilDistrictCode,Neighborhood,YearBuilt,...,Zip Codes,Address,City,State,ZipCode,Latitude,Longitude,Comments,TotalGHGEmissions,GHGEmissionsIntensity
3340,50070,2016,NonResidential,Other,Tennis Center Sand Point,0225049062,NaN,4,NORTHEAST,2013,...,NaN,7135 Sportsfield Drive NE,Seattle,WA,98155.0,47.68109,-122.26180,NaN,67.65,0.94
3341,50071,2016,Multifamily MR (5-9),Mid-Rise Multifamily,The Westside Off Broadway,6003501185,NaN,3,EAST,2015,...,NaN,801 E Thomas St,Seattle,WA,98102.0,47.62107,-122.32156,NaN,0.09,0.00
3342,50072,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Soren Apartments,2767605130,NaN,6,BALLARD,2015,...,NaN,5711 24th Ave NW,Seattle,WA,98107.0,47.67054,-122.38800,NaN,51.26,0.42
3343,50074,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Greenwood Place Apartments,1980200256,NaN,5,NORTHWEST,2015,...,NaN,14307 greenwood ave n,Seattle,WA,98133.0,47.73256,-122.35590,NaN,12.21,0.20
3344,50075,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Astro Apartments,1980200256,NaN,7,MAGNOLIA / QUEEN ANNE,2015,...,NaN,315 1st Ave N,Seattle,WA,98109.0,47.62157,-122.35569,NaN,124.18,0.48
3345,50076,2016,Multifamily MR (5-9),Mid-Rise Multifamily,bridges@11th,6746701320,NaN,4,NORTHEAST,2015,...,NaN,4557 11th Ave NE,Seattle,WA,98105.0,47.66221,-122.31652,NaN,86.25,0.37
3346,50078,2016,Multifamily HR (10+),High-Rise Multifamily,Cornish Commons,0660001324,NaN,7,DOWNTOWN,2015,...,NaN,2025 Terry Ave,Seattle,WA,98121.0,47.61753,-122.33620,NaN,103.37,0.69
3347,50081,2016,NonResidential,K-12 School,Hamlin Robinson School,7548300840,NaN,3,GREATER DUWAMISH,2015,...,NaN,1701 20th Ave South,Seattle,WA,98144.0,47.58831,-122.30650,NaN,9.24,0.21
3348,50082,2016,Multifamily LR (1-4),Low-Rise Multifamily,STREAM FIFTEEN,3303700030,NaN,3,EAST,2015,...,NaN,605 15TH AVE E,Seattle,WA,98112.0,47.62441,-122.31300,NaN,NaN,NaN
3349,50084,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Rooster Apartments,9528103070,NaN,4,NORTHEAST,2015,...,NaN,900 NE 65th St,Seattle,WA,98115.0,47.67584,-122.31803,NaN,205.52,0.96
3350,50086,2016,Multifamily LR (1-4),Low-Rise Multifamily,Interbay Place,2771601160,NaN,7,MAGNOLIA / QUEEN ANNE,2015,...,NaN,2208 15th Ave W,Seattle,WA,98119.0,47.63892,-122.37582,NaN,31.55,0.62
3351,50088,2016,Multifamily LR (1-4),Low-Rise Multifamily,Vibe Apartments,1972200290,NaN,6,LAKE UNION,2015,...,NaN,3601 Greenwood Ave N,Seattle,WA,98103.0,47.65295,-122.35593,NaN,28.08,0.68
3352,50089,2016,Multifamily LR (1-4),Low-Rise Multifamily,Atrium Apartments,3628800000,NaN,3,CENTRAL,2015,...,NaN,3104 South Day Street,Seattle,WA,98144.0,47.59052,-122.29208,NaN,75.62,2.97
3353,50090,2016,Multifamily MR (5-9),Mid-Rise Multifamily,131910 - LIV Seattle,8817400110,NaN,4,NORTHEAST,2015,...,NaN,4717 Brooklyn Ave NE,Seattle,WA,98105.0,47.66366,-122.31450,NaN,54.76,0.86
3354,50092,2016,Multifamily MR (5-9),Residence Hall,Terry Hall & Maple Hall,1142002345,NaN,4,NORTHEAST,2015,...,NaN,1101 NE Campus Pkwy,Seattle,WA,98195.0,47.65577,-122.31702,NaN,467.90,1.44
3355,50093,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Raven Terrace,9822000080,NaN,3,EAST,2015,...,NaN,820 Yesler Way,Seattle,WA,98104.0,47.60189,-122.32182,NaN,15.07,0.18
3356,50094,2016,NonResidential,Mixed Use Property,AIBS,4088803385,NaN,7,LAKE UNION,2015,...,NaN,601 Westlake Ave N.,Seattle,WA,98109.0,47.62497,-122.33883,NaN,1000.06,2.90
3357,50095,2016,Multifamily MR (5-9),Mid-Rise Multifamily,Broadstone Sky,7579200395,NaN,1,SOUTHWEST,2015,...,NaN,4745 40th Ave SW,Seattle,WA,98116.0,47.55976,-122.38320,NaN,96.90,0.47
3358,50098,2016,Multifamily LR (1-4),Low-Rise Multifamily,1806,1407300010,NaN,3,CENTRAL,2014,...,NaN,1806 23rd Avenue,Seattle,WA,98122.0,47.61791,-122.30230,NaN,18.88,0.93
3359,50101,2016,Nonresidential WA,University,Burke Museum,1625049001,NaN,4,NORTHEAST,1962,...,NaN,4331 Memorial Way NE,Seattle,WA,98195.0,47.66127,-122.31256,NaN,22.17,0.33
3360,50196,2016,Nonresidential COS,Mixed Use Property,Northgate Community Center,2926049431,NaN,5,NORTH,2005,...,NaN,10510 5th Ave NE,Seattle,WA,NaN,47.70541,-122.32232,NaN,4.44,0.22
3361,50198,2016,Nonresidential COS,Other,Fire Station 06 (New),1250200565,NaN,3,CENTRAL,2013,...,NaN,405 MLK Jr Way S,Seattle,WA,NaN,47.59905,-122.29787,NaN,29.18,2.50
3362,50201,2016,Nonresidential COS,Other,Fire Station 35 (New),3300700810,NaN,6,BALLARD,2010,...,NaN,8729 15th Ave NW,Seattle,WA,NaN,47.69330,-122.37717,NaN,23.00,1.92
3363,50204,2016,Nonresidential COS,Other,Fire Station 39 (New),3834500066,NaN,5,NORTH,1949,...,NaN,2806 NE 127th St,Seattle,WA,NaN,47.72126,-122.29735,NaN,14.37,1.27
3364,50207,2016,Nonresidential COS,Other,Ballard Community Center,6658000065,NaN,6,BALLARD,1911,...,NaN,6020 28th ave NW,Seattle,WA,NaN,47.67295,-122.39228,NaN,24.73,1.47
3365,50208,2016,Nonresidential COS,Other,Ballard Pool,3050700005,NaN,6,BALLARD,1972,...,NaN,1471 NW 67th St,Seattle,WA,NaN,47.67734,-122.37624,NaN,216.18,16.93
3366,50210,2016,Nonresidential COS,Office,Central West HQ / Brown Bear,2425039137,NaN,7,MAGNOLIA / QUEEN ANNE,1952,...,NaN,1403 w howe,Seattle,WA,NaN,47.63572,-122.37525,NaN,3.50,0.26
3367,50212,2016,Nonresidential COS,Other,Conservatory Campus,2925049087,NaN,3,EAST,1912,...,NaN,1400 E Galer St,Seattle,WA,NaN,47.63228,-122.31574,NaN,259.22,11.06
3368,50219,2016,Nonresidential COS,Mixed Use Property,Garfield Community Center,7544800245,NaN,3,CENTRAL,1994,...,NaN,2323 East Cherry St,Seattle,WA,NaN,47.60775,-122.30225,NaN,60.81,3.03
3369,50220,2016,Nonresidential COS,Office,Genesee/SC SE HQ,4154300585,NaN,2,SOUTHEAST,1960,...,NaN,4420 S Genesee,Seattle,WA,NaN,47.56440,-122.27813,NaN,7.79,0.51
3370,50221,2016,Nonresidential COS,Other,High Point Community Center,2524039059,NaN,1,DELRIDGE NEIGHBORHOODS,1982,...,NaN,6920 34th Ave SW,Seattle,WA,NaN,47.54067,-122.37441,NaN,20.33,1.11
3371,50222,2016,Nonresidential COS,Office,Horticulture building,1624049080,NaN,2,GREATER DUWAMISH,1990,...,NaN,1600 S Dakota St,Seattle,WA,NaN,47.56722,-122.31154,NaN,20.94,1.70
3372,50223,2016,Nonresidential COS,Other,International district/Chinatown CC,3558300000,NaN,2,DOWNTOWN,2004,...,NaN,719 8th Ave S,Seattle,WA,NaN,47.59625,-122.32283,NaN,32.17,2.01
3373,50224,2016,Nonresidential COS,Other,Queen Anne Pool,1794501150,NaN,7,MAGNOLIA / QUEEN ANNE,1974,...,NaN,1920 1st Ave W,Seattle,WA,NaN,47.63644,-122.35784,NaN,223.54,16.99
3374,50225,2016,Nonresidential COS,Mixed Use Property,South Park Community Center,7883603155,NaN,1,GREATER DUWAMISH,1989,...,NaN,8319 8th Ave S,Seattle,WA,NaN,47.52832,-122.32431,NaN,22.11,1.57
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,7857002030,NaN,2,GREATER DUWAMISH,1938,...,NaN,2820 S Myrtle St,Seattle,WA,NaN,47.53939,-122.29536,NaN,41.27,2.26

In [17]:
df1_set= set(df1.columns)
df2_set= set(df2.columns)
list(df1_set & df2_set)

TypeError: 'list' object is not callable

In [14]:
df1.columns

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'TaxParcelIdentificationNumber', 'Location',
       'CouncilDistrictCode', 'Neighborhood', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'OtherFuelUse(kBtu)',
       'GHGEmissions(MetricTonsCO2e)', 'GHGEmissionsIntensity(kgCO2e/ft2)',
       'DefaultData', 'Comment', 'ComplianceStatus', 'Outlier',
       '2010 Census Tracts',
       'Seattle Police Department Micro Community Policing Plan Areas',
       'City Council Districts', 'SPD Beats', 'Zip Codes'],
      dtype='object')

In [15]:
df2.columns

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'Address', 'City', 'State', 'ZipCode',
       'TaxParcelIdentificationNumber', 'CouncilDistrictCode', 'Neighborhood',
       'Latitude', 'Longitude', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'DefaultData', 'Comments', 'ComplianceStatus',
       'Outlier', 'TotalGHGEmissions', 'GHGEmissionsIntensity'],
      dtype='object')

In [15]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].values.counts())
    print("")

NameError: name 'missing_data' is not defined